.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid rgb(24, 24, 27);
  border-radius: 16px;
}

.errorMessage {
  color: #D0021B;
  font-size: 14px;
  margin: 0;
}